@model WebShop.Mvc.Models.RegisterViewModel
@{
    ViewBag.Title = "Registration";
}

<h2>Registration</h2>

@Html.ValidationSummary(true, null, new { @class = "text-danger" })

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", autocomplete = "off" }))
{
    <div class="form-group">
        @Html.LabelFor(o => o.Title, new {@class = "control-label col-sm-3 col-md-2"})
        <div class="col-sm-9 col-md-10">
            @Html.TextBoxFor(o => o.Title, new {@class = "form-control", id = "Title", name = "Title"})
            @Html.ValidationMessageFor(o => o.Title, null, new {@class = "text-danger"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(o => o.FirstName, new {@class = "control-label col-sm-3 col-md-2"})
        <div class="col-sm-9 col-md-10">
            @Html.TextBoxFor(o => o.FirstName, new {@class = "form-control", id = "FirstName", name = "FirstName"})
            @Html.ValidationMessageFor(o => o.FirstName, null, new {@class = "text-danger"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(o => o.LastName, new { @class = "control-label col-sm-3 col-md-2" })
        <div class="col-sm-9 col-md-10">
            @Html.TextBoxFor(o => o.LastName, new { @class = "form-control", id = "LastName", name = "LastName" })
            @Html.ValidationMessageFor(o => o.LastName, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(o => o.Address, new {@class = "control-label col-sm-3 col-md-2"})
        <div class="col-sm-9 col-md-10">
            @Html.TextBoxFor(o => o.Address, new {@class = "form-control", id = "Address", name = "Address"})
            @Html.ValidationMessageFor(o => o.Address, null, new {@class = "text-danger"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(o => o.HouseNumber, new {@class = "control-label col-sm-3 col-md-2"})
        <div class="col-sm-9 col-md-10">
            @Html.TextBoxFor(o => o.HouseNumber, new {@class = "form-control", id = "HouseNumber", name = "HouseNumber"})
            @Html.ValidationMessageFor(o => o.HouseNumber, null, new {@class = "text-danger"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(o => o.ZipCode, new {@class = "control-label col-sm-3 col-md-2"})
        <div class="col-sm-9 col-md-10">
            @Html.TextBoxFor(o => o.ZipCode, new {@class = "form-control", id = "ZipCode", name = "ZipCode"})
            @Html.ValidationMessageFor(o => o.ZipCode, null, new {@class = "text-danger"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(o => o.City, new { @class = "control-label col-sm-3 col-md-2" })
        <div class="col-sm-9 col-md-10">
            @Html.TextBoxFor(o => o.City, new { @class = "form-control", id = "City", name = "City" })
            @Html.ValidationMessageFor(o => o.City, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(o => o.Email, new { @class = "control-label col-sm-3 col-md-2" })
        <div class="col-sm-9 col-md-10">
            @Html.TextBoxFor(o => o.Email, new { @class = "form-control", id = "Email", name = "Email", autocomplete = "off" })
            @Html.ValidationMessageFor(o => o.Email, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(o => o.Password, new {@class = "control-label col-sm-3 col-md-2"})
        <div class="col-sm-9 col-md-10">
            @Html.PasswordFor(o => o.Password, new {@class = "form-control", id = "Password", name = "Password"})
            @Html.ValidationMessageFor(o => o.Password, null, new {@class = "text-danger"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(o => o.ConfirmPassword, new { @class = "control-label col-sm-3 col-md-2" })
        <div class="col-sm-9 col-md-10">
            @Html.PasswordFor(o => o.ConfirmPassword, new { @class = "form-control", id = "ConfirmPassword", name = "ConfirmPassword" })
            @Html.ValidationMessageFor(o => o.ConfirmPassword, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <span class="control-label col-sm-3 col-md-2"></span>
        <div class="col-sm-9 col-md-10">
            <button class="btn-default btn" type="submit">Register</button>
        </div>
    </div>
}