@using PagedList.Mvc
@using WebShop.Mvc.Helpers
@model WebShop.Mvc.Models.ArticlesModel
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">

    <div class="container">
        @foreach (var article in Model.Articles)
        {
            <div class="row" style="margin-bottom: 2em; margin-left: 3em">
                <div onclick="showPopup('@article.Name', '@article.Description', '@article.PriceExclVat.ToString("C")', '@FeeCalculator.GetVatByPriceExclVat(article.PriceExclVat).ToString("C")', '@FeeCalculator.GetPriceInclVatByPriceExclVat(article.PriceExclVat).ToString("C")')">
                    <div class="col-sm-3">
                        @{
                            var picGeneratorUrl = "http://lorempixel.com/150/150/food?fakeId=";
                            var url = picGeneratorUrl + @article.Id;
                            <img src="@url"/>
                        }
                    </div>

                    <div class="col-sm-6">
                        <h2 style="margin-top: 0">@article.Name</h2>
                        <span> @article.Description</span>
                    </div>
                </div>
                <div class="col-sm-2">
                    @{
                        var text = "Add to Cart" + article.PriceExclVat.ToString("C");
                        @Ajax.ActionLink(text, "Add", "ShoppingCart", new {id = @article.Id.ToString()}, new AjaxOptions {InsertionMode = InsertionMode.Replace, UpdateTargetId = "cart-count-id"}, new {@class = "btn btn-primary"})
                        ;
                    }
                </div>
            </div>
        }
        <div class="text-center">
            @Html.PagedListPager(Model.Articles, page => Url.Action("Index", "Home", new {page}))
        </div>
    </div>
</div>