@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li id="cart-id">
                <a id="shopping-cart" href="@Url.Action("Index", "ShoppingCart")">
                    Cart <span id="cart-count-id" class="badge">@ViewBag.CartCount</span>
                </a>
            </li>
            <li>
                <a href="#">Hello @User.Identity.GetUserName()</a>
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li id="cart-id">
            <a id="shopping-cart" href="@Url.Action("Index", "ShoppingCart")">
                Cart <span id="cart-count-id" class="badge">@ViewBag.CartCount</span>
            </a>
        </li>
        @if (!Request.IsAuthenticated)
        {
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        }
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>

    </ul>
}
